form.form(name="buy_estate" id="buy_estate--" + index)
  a.remove-form
  .form-part
    .form-part-header
      .header Покупка недвижимости
    .row
      .col-xs-12
        .checkbox-block
          input.checkbox-field(type="checkbox" id="buy_estate--" + index + "-type_fraction" name="type_fraction:boolean" checked=(estate.type_fraction))
          label.checkbox-label(for="buy_estate--" + index + "-type_fraction") Куплена доля
    .row.type
      .col-xs-12
        .choose-block
          input(type="radio" id="buy_estate--" + index + "-type1" name="type" value="room" checked=(estate.type === "room"))
          label(for="buy_estate--" + index + "-type1")
            != estate.type_fraction ? "В комнате" : "Комната"
          input(type="radio" id="buy_estate--" + index + "-type2" name="type" value="flat" checked=(estate.type === "flat"))
          label(for="buy_estate--" + index + "-type2")
            != estate.type_fraction ? "В квартире" : "Квартира"
          input(type="radio" id="buy_estate--" + index + "-type3" name="type" value="house" checked=(estate.type === "house"))
          label(for="buy_estate--" + index + "-type3")
            != estate.type_fraction ? "В жилом доме" : "Жилой дом"
          input(type="radio" id="buy_estate--" + index + "-type4" name="type" value="land" checked=(estate.type === "land"))
          label(for="buy_estate--" + index + "-type4")
            != estate.type_fraction ? "В земельном участке" : "Земельный участок"
    .row.type-3(class=estate.type === "house" ? "" : "hidden")
      .col-xs-12
        .checkbox-block
          input.checkbox-field(type="checkbox" id="buy_estate--" + index + "-type3_land" name="type3:boolean" checked=(estate.type3))
          label.checkbox-label(for="buy_estate--" + index + "-type3_land") Жилой дом вместе с земельным участком
    .row.type-4(class=estate.type === "land" ? "" : "hidden")
      .col-xs-12
        .radio-block
          input(type="radio" id="buy_estate--" + index + "-type4_construction" name="type4" value="construction" checked=(estate.type4 === "construction"))
          label(for="buy_estate--" + index + "-type4_construction") под жилищное строительство
          input(type="radio" id="buy_estate--" + index + "-type4_house" name="type4" value="house" checked=(estate.type4 === "house"))
          label(for="buy_estate--" + index + "-type4_house") с купленным ранее жилым домом
    .row
      .col-xs-12
        .input-block
          input.input-field(type="text" name='address' value=estate.address class=estate.address ? 'input-filled' : '')
          .input-label Адрес
    .row
      .col-xs-12.col-sm-6.col-md-4
        .input-block
          input.input-field(type="number" name='buy_price' value=estate.buy_price class=estate.buy_price ? 'input-filled' : '')
          .input-label Стоимость покупки
      .col-xs-12.col-sm-6.col-md-4
        .input-block
          input.input-field(type="number" name='mortgage' value=estate.mortgage class=estate.mortgage != null ? 'input-filled' : '')
          a.input-help.mortgage-help
          .input-label Сумма выплаченных процентов по ипотеке
  .subform-part
    .form-part-header
      .header Даты регистрации права собственности
    .row
      .col-xs-12.col-sm-6.col-md-4(class = estate.type === "land" || estate.type === "land_and_house" ? "" : "hidden")
        .input-block
          input.datedropper.input-field(type="text" name='land_date' value=estate.land_date class=estate.land_date ? 'input-filled' : '')
          .input-label На земельный участок
      .col-xs-12.col-sm-6.col-md-4(class = estate.type === "room" || estate.type === "flat" || estate.type === "house" || (estate.type === "land_and_house" && estate.land_and_house_together) ? "" : "hidden")
        .input-block
          input.datedropper.input-field(type="text" name='registration_date' value=estate.registration_date class=estate.registration_date ? 'input-filled' : '')
          .input-label На жилой дом
      .col-xs-12.col-sm-6.col-md-4(class = estate.type === "room" || estate.type === "flat" ? "" : "hidden")
        .input-block
          input.datedropper.input-field(type="text" name='act_date' value=estate.act_date class=estate.act_date ? 'input-filled' : '')
          a.input-help.act-date-help
          .input-label Дата акта о передаче
  .subform-part
    .form-part-header
      .header Номер, присвоенный недвижимости
    .row
      .col-xs-12.col-sm-6.col-md-4
        .select-block
          .select-wrapper
            select.select-field(name='number_type')
              option(value="1" selected=(estate.number_type === "1")) Кадастровый
              option(value="2" selected=(estate.number_type === "2")) Условный
              option(value="3" selected=(estate.number_type === "3")) Инвентарный
              option(value="4" selected=(estate.number_type === "4")) Нет номера
          .select-label Тип номера
      .col-xs-12.col-sm-6.col-md-4(class = estate.number_type === "4" ? "hidden" : "")
        .input-block
          input.input-field(type="text" name='number' value=estate.number class=estate.number ? 'input-filled' : '')
          .input-label Номер
  .subform-part
    .form-part-header
      .header Информация о владельце недвижимости
    .row
      .col-xs-12
        .checkbox-block
          input.checkbox-field(type="checkbox" id="buy_estate--" + index + "-fraction" name="owner_fraction:boolean" checked=(estate.fraction))
          label.checkbox-label(for="buy_estate--" + index + "-fraction") Недвижимость приобретена в общую долевую собственность
    .row
      .col-xs-12
        .select-block
          .select-wrapper
            select.select-field.single-owner(name='owner' class=estate.owner_fraction ? "hidden" : "")
              option(value="you" selected=(estate.owner === "you")) Вы
              option(value="partner" selected=(estate.owner === "partner")) Ваш супруг
              option(value="child" selected=(estate.owner === "child")) Ваш несовершеннолетний ребенок
            select.select-field.multi-owner(name='owners' class=estate.owner_fraction ? "" : "hidden")
              option(value="you_and_child" selected=(estate.owners === "you_and_child")) Вы и ваш несовершеннолетний ребенок
              option(value="partner_and_child" selected=(estate.owners === "partner_and_child")) Ваш супруг и ваш несовершеннолетний ребенок
          if estate.owner_fraction
            .select-label.owner-label Владельцы недвижимости
          else
            .select-label.owner-label Владелец недвижимости
  .subform-part
    .form-part-header
      .header Предыдущие вычеты за эту недвижимость
      .description В случае повторного предоставления декларации по данному имуществу (если вы уже начали пользоваться вычетом в предыдущих годах) внесите в эти поля суммы использованного за предыдущие периоды налоговых вычетов
    .row
      .col-xs-12.col-sm-6.col-md-3
        .input-block
          input.input-field.input-filled(type="number" name='prev_sum' value=estate.prev_sum class=estate.prev_sum ? 'input-filled' : '')
          a.input-help.prev-sum-help
          .input-label Сумма предыдущих вычетов
      .col-xs-12.col-sm-6.col-md-3
        .input-block
          input.input-field.input-filled(type="number" name='prev_percent' value=estate.prev_percent class=estate.prev_percent ? 'input-filled' : '')
          a.input-help.prev-percent-help
          .input-label Сумма процентов
      .col-xs-12.col-sm-6.col-md-3
        .input-block
          input.input-field.input-filled(type="number" name='prev_employer' value=estate.prev_employer class=estate.prev_employer ? 'input-filled' : '')
          a.input-help.prev-employer-help
          .input-label Сумма от работодателя
      .col-xs-12.col-sm-6.col-md-3
        .input-block
          input.input-field.input-filled(type="number" name='prev_employer_percent' value=estate.prev_employer_percent class=estate.prev_employer_percent ? 'input-filled' : '')
          a.input-help.prev-employer-percent-help
          .input-label Сумма процентов от работодателя