form.form(name="sell_estate" id="sell_estate--" + index)
  a.remove-form
  .form-part
    .form-part-header
      a.header Продажа недвижимости
        .toggle-conditions показать условия
      .conditions
        p Недвижимость делится на две категории. 1 категория - дома, квартиры, комнаты, садовые домики, земельные участки и доли во всем этом. 2 категория - гаражи, сараи и прочее недвижимое имущество. Для категорий установлены разные сроки сладения. Если вы владели имуществом дольше установленного максимального срока, то декларация на продажу этого имущества не подается и налоги не платятся.
        ul
          li Для 2 категории максимальный срок владения 5 лет
          li Если имущество 1 категории было куплено, то максимальный срок владения 5 лет
          li Если имущество 1 категории было унаследовано от близких родственников, приватизировано или являлось единственным жильем, то максимальный срок владения 3 года
    .row
      .col-xs-12
        .radio-block.radio-vertical
          input(type="radio" id="sell_estate--" + index + "house" name="type" value="house" checked=(estate.type === "house"))
          label(for="sell_estate--" + index + "house") Продажа дома, квартиры, комнаты, садового домика, земельного участка
          input(type="radio" id="sell_estate--" + index + "fraction" name="type" value="fraction" checked=(estate.type === "fraction"))
          label(for="sell_estate--" + index + "fraction") Продажа доли в доме, квартире, земельном участке
          input(type="radio" id="sell_estate--" + index + "garage" name="type" value="garage" checked=(estate.type === "garage"))
          label(for="sell_estate--" + index + "garage") Продажа гаража, сарая и прочего недвижимого имущества
    .row
      .col-xs-12.col-sm-6.col-md-3
        .input-block
          input.input-field(type="number" name='buy_price' value=estate.buy_price class=estate.buy_price != null ? 'input-filled' : '')
          a.input-help.buy-estate-help
          .input-label
            = estate.type === "fraction" ? "Стоимость покупки доли, руб." : "Стоимость покупки, руб."
      .col-xs-12.col-sm-6.col-md-3
        .input-block
          input.input-field(type="number" name='sell_price' value=estate.sell_price class=estate.sell_price ? 'input-filled' : '')
          .input-label
            = estate.type === "fraction" ? "Стоимость продажи доли, руб." : "Стоимость продажи, руб."
      .col-xs-12.col-sm-6.col-md-3(class=estate.type === "fraction" ? "" : "hidden")
        .input-block
          input.input-field(type="number" name='fraction_size' value=estate.fraction_size class=estate.fraction_size ? 'input-filled' : '')
          .input-label Размер доли, от 0 до 99%
      .col-xs-12.col-sm-6.col-md-3(class=estate.type !== "garage" && estate.buy_price > 0? "" : "hidden")
        .input-block
          input.input-field(type="number" name='mortgage' value=estate.mortgage class=estate.mortgage != null ? 'input-filled' : '')
          a.input-help.mortrage-help
          .input-label Сумма выплаченных процентов по ипотеке
    .row.contract-form(class=estate.type === "fraction" ? "" : "hidden")
      .col-xs-12
        .radio-block
          input(type="radio" id="sell_estate--" + index + "-multi_contract" name="contract" value="multi" checked=(estate.contract === "multi"))
          label(for="sell_estate--" + index + "-multi_contract") Эта доля продана отдельным контрактом
          input(type="radio" id="sell_estate--" + index + "-single_contract" name="contract" value="single" checked=(estate.contract === "single"))
          label(for="sell_estate--" + index + "-single_contract") Все доли проданы одним контрактом
  .subform-part.rosreestr
    .form-part-header
      .header Информация из Росреестра
      .description Вам нужно указать кадастровый номер и кадастровую стоимость недвижимости. Заказать выписку или найти данные о недвижимости по ее адресу можно
        a(href="https://rosreestr.net/uznat-kadastrovuyu-stoimost-nedvijimosti" target="_blank")  здесь.
    .row
      .col-xs-12.col-sm-6.col-md-3
        .input-block
          input.input-field(type="text" name='kadastr_number' value=estate.kadastr_number class=estate.kadastr_number ? 'input-filled' : '')
          .input-label Кадастровый номер
      .col-xs-12.col-sm-6.col-md-3
        .input-block
          input.input-field(type="number" name='kadastr_price' value=estate.kadastr_price class=estate.kadastr_price ? 'input-filled' : '')
          .input-label Кадастровая стоимость, руб.
  .subform-part
    .form-part-header
      .header Информация о покупателе
    .row
      .col-xs-12
        .radio-block
          input(type="radio" id="sell_estate--" + index + "-individual" name="face" value="individual" checked=(estate.face === "individual"))
          label(for="sell_estate--" + index + "-individual") Физическое лицо
          input(type="radio" id="sell_estate--" + index + "-entity" name="face" value="entity" checked=(estate.face === "entity"))
          label(for="sell_estate--" + index + "-entity") Юридическое лицо
    .row.individual-form(class=estate.face === "entity" ? "hidden" : "")
      .col-xs-12
        .input-block
          input.input-field(type="text" name='individual_name' value=estate.individual_name class=estate.individual_name ? 'input-filled' : '')
          .input-label ФИО покупателя
    .row.entity-form(class=estate.face === "individual" ? "hidden" : "")
      .col-xs-12
        .input-block
          input.input-field(type="text" name='entity_name' value=estate.entity_name class=estate.entity_name ? 'input-filled' : '')
          .input-label Наименование юр. лица
      .col-xs-12.col-sm-6.col-md-4
        .input-block
          input.input-field(type="number" name='entity_oktmo' value=estate.entity_oktmo class=estate.entity_oktmo ? 'input-filled' : '')
          .input-label Код по ОКТМО
      .col-xs-12.col-sm-6.col-md-4
        .input-block
          input.input-field(type="number" name='entity_inn' value=estate.entity_inn class=estate.entity_inn ? 'input-filled' : '')
          .input-label ИНН
      .col-xs-12.col-sm-6.col-md-4
        .input-block
          input.input-field(type="number" name='entity_kpp' value=estate.entity_kpp class=estate.entity_kpp ? 'input-filled' : '')
          .input-label КПП